<%- include('header') %>
<% page = 'freecars' %>
<%- include('mainheader') %>

<div class="container">
    <div class="row">
        <div class="col-xs-12 text-center">
            <h2>Új autó hozzáadása</h2>
        </div>
        <div class="col-md-push-3 col-md-6 col-xs-12">
            <form method="post">
                <div class="form-group">
                    <label for="name">Név</label>
                    <input name="name" type="text" class="form-control" id="name" placeholder="Név">
                </div>
                <div class="form-group">
                    <label for="chassisnum">Alvázszám</label>
                    <input name="chassisnum" type="text" class="form-control" id="chassisnum" placeholder="Alvazszam">
                </div>
                <div class="form-group">
                    <label for="plate">Rendszám</label>
                    <input name="plate" type="text" class="form-control" id="plate" placeholder="Rendszam">
                </div>
                <div class="container">
                    <label class="radio-inline">
                        <input type="radio" name="type" value="B" >Személygépjármű
                    </label>
                    <label class="radio-inline">
                        <input type="radio" name="type" value="C" >Haszongépjármű
                    </label>
                    <label class="radio-inline">
                        <input type="radio" name="type" value="A" >Motorkerékpár
                    </label>
                </div>
                <div class="form-group">
                    <label for="ajtok">Ajtók száma</label>
                    <select name="doors" class="form-control" id="doors">
                        <option>1</option>
                        <option>2</option>
                        <option>3</option>
                        <option>4</option>
                    </select>
                </div>
                <input type="submit" class="btn btn-primary" value="Hozzáadás">
                <a href="/freecars" class="btn btn-default">Mégsem</a>
            </form>

        </div>
    </div>
</div>

<%- include('footer') %>