<%- include('header') %>

<%- include('mainheader') %>

<div class="container">
    <div class="row">
        <div class="col-xs-12 text-center">
            <h2>Új autó hozzáadása</h2>
        </div>
        <div class="col-md-push-3 col-md-6 col-xs-12">
            <form method="post">
                <div class="form-group">
                    <label for="alvaz">Alvázszám</label>
                    <input type="text" class="form-control" id="alvaz" placeholder="Alvazszam">
                </div>
                <div class="form-group">
                    <label for="rendszam">Rendszám</label>
                    <input type="text" class="form-control" id="rendszam" placeholder="Rendszam">
                </div>
                <div class="container">
                    <form>
                        <label class="radio-inline">
                            <input type="radio" name="jarmu">Személygépjármű
                        </label>
                        <label class="radio-inline">
                            <input type="radio" name="jarmu">Haszongépjármű
                        </label>
                        <label class="radio-inline">
                            <input type="radio" name="jarmu">Motorkerékpár
                        </label>
                    </form>
                </div>
                <div class="form-group">
                    <label for="ajtok">Ajtók száma</label>
                    <select class="form-control" id="ajtok">
                        <option>1</option>
                        <option>2</option>
                        <option>3</option>
                        <option>4</option>
                    </select>
                </div>
                <a href="/freecars" class="btn btn-primary">Hozzáadás</a>
                <a href="/freecars" class="btn btn-default">Mégsem</a>
            </form>

        </div>
    </div>
</div>

<%- include('footer') %>