<%- include('header') %>

<%- include('mainheader') %>

<div class="container">
    <div class="row">
        <div class="col-xs-12 text-center">
            <h2>Új kölcsönző hozzáadása</h2>
        </div>
        <div class="col-md-push-3 col-md-6 col-xs-12">
            <form method="post">
                <div class="form-group">
                    <label for="id">Személyi szám</label>
                    <input type="text" class="form-control" id="id" placeholder="Személyi szám">
                </div>
                <div class="form-group">
                    <label for="nev">Név</label>
                    <input type="text" class="form-control" id="nev" placeholder="Név">
                </div>
                <div class="form-group">
                    <label for="lakcim">Lakcím</label>
                    <input type="text" class="form-control" id="lakcim" placeholder="Név">
                </div>
                <div class="form-group">
                    <label for="telsz">Telefonszám</label>
                    <input type="text" class="form-control" id="telsz" placeholder="Telefonszám">
                </div>
                <div class="container">
                    <form>
                        <label class="radio-inline">
                            <input type="radio" name="jarmu">Személygépjármű
                        </label>
                        <label class="radio-inline">
                            <input type="radio" name="jarmu">Haszongépjármű
                        </label>
                        <label class="radio-inline">
                            <input type="radio" name="jarmu">Motorkerékpár
                        </label>
                    </form>
                </div>
                <a href="/clients" class="btn btn-primary">Hozzáadás</a>
                <a href="/clients" class="btn btn-default">Mégsem</a>
            </form>

        </div>
    </div>
</div>

<%- include('footer') %>