<%- include('header') %>
<% page = 'clients'; %>
<%- include('mainheader') %>

<div class="container">
    <div class="row">
        <div class="col-xs-12 text-center">
            <h2>Új kölcsönző hozzáadása</h2>
        </div>
        <div class="col-md-push-3 col-md-6 col-xs-12">
            <form method="POST">
                <div class="form-group">
                    <label for="nationalId">Személyi szám</label>
                    <input name="nationalId" type="text" class="form-control" id="nationalId" placeholder="123456AB">
                </div>
                <div class="form-group">
                    <label for="name">Név</label>
                    <input name="name" type="text" class="form-control" id="name" placeholder="Név">
                </div>
                <div class="form-group">
                    <label for="address">Lakcím</label>
                    <input name="address" type="text" class="form-control" id="address" placeholder="Lakcím">
                </div>
                <div class="form-group">
                    <label for="phone">Telefonszám</label>
                    <input name="phone" type="text" class="form-control" id="phone" placeholder="06301234567">
                </div>
                <div class="container">
                    <label>Jogosítvány típus</label>
                    <label class="radio-inline">
                        <input type="radio" name="car" value="B">Személygépjármű
                    </label>
                    <label class="radio-inline">
                        <input type="radio" name="car" value="C">Haszongépjármű
                    </label>
                    <label class="radio-inline">
                        <input type="radio" name="car" value="A">Motorkerékpár
                    </label>
                </div>
                <input type="submit" class="btn btn-primary" value="Hozzáadás">
                <a href="/clients" class="btn btn-default">Mégsem</a>
            </form>
        </div>
    </div>
</div>

<%- include('footer') %>